.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html body{
    background-color:#faf3e0;
    text-align: center;
}
.input-box{
    background-color: #eabf9f;
    margin-bottom: 5%;
    border: 1px solid #b68973;
    border-radius: 5px;
    padding: 10px;
    width: 20%;

}
.output-box{
    background-color: #eabf9f;
    margin-bottom: 5%;
    border: 1px solid #b68973;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
}

.container{
    position:relative;

}
.col-sm-12{
    display: flex;
    justify-content: center;
}

.box-title{
    font-size: larger;
}
input-box>input{
    display: inline-block;
    
}